NODE_ENV=development
PORT=8080
WS_PORT=8081
JWT_SECRET=change_this_secret
JWT_EXPIRES=7d
CLIENT_ORIGIN=*

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=arcadia_mmo
DB_USER=arcadia
DB_PASSWORD=arcadia123

SAVE_INTERVAL_MS=20000
WORLD_TICK_MS=100
CHAT_FLOOD_WINDOW_MS=4000
CHAT_FLOOD_MAX_MESSAGES=5

